<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="io.invertase.firebase">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <application>
    <service android:name="com.google.firebase.components.ComponentDiscoveryService">
      <meta-data android:name="com.google.firebase.components:io.invertase.firebase.ReactNativeFirebaseAppRegistrar"
        android:value="com.google.firebase.components.ComponentRegistrar"/>
    </service>
    <activity
      android:name=".messaging.CallingActivity"
      android:configChanges="orientation|keyboardHidden|screenSize"
      android:label="WAVE"
      android:launchMode="singleTask"
			android:screenOrientation="portrait"
      android:showOnLockScreen="true"
      tools:ignore="ManifestResource,UnusedAttribute">
    </activity>
  </application>
</manifest>
